body {
  background-color: darksalmon;
  font-family: 'Consolas';
  text-align: center;
  margin: auto;
}

h1 {
  font-size: xx-large;
  font-family: 'Consolas';
}

h2 {
  font-size: medium;
  font-family: 'Consolas';
}

.footer{
  margin-top: 1rem;
  background-color: darksalmon;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}