body {
  background-color: #F8F7DA;
  font-family: 'Consolas';
  text-align: center;
  margin: auto;
}

h1 {
  font-size: xx-large;
  font-family: 'Consolas';
}

h2 {
  font-size: medium;
  font-family: 'Consolas';
}

.Footer{
  margin-top: 1rem;
  background-color: #F8F7DA;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.Home-logo {
  height: 30vmin;
  padding: 2em;
  pointer-events: none;
}

.About-logo {
  height: 20vmin;
  pointer-events: none;
}

.NotFound {
  height: 40vmin;
  pointer-events: none;
}