.Navbar{
    overflow: hidden;
    background-color:darkred;
    font-size: 20px;
    color: white; 
    display : flex;
    justify-content: center;
}

.Navbar ul {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.Navbar li{
    list-style: none;
}

.Navbar a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: #FEDD6E;
}