#submit-button {
    background-color:white;
    font-family: 'Consolas';
    border: 2px solid #8C383A;
    border-radius: 30px;
    box-shadow: #8C383A 3px 3px 0 0;
    color: #8C383A;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 12px;
    line-height: 40px;
    min-width: 100px;
}

#delete-button {
    background-color:white;
    font-family: 'Consolas';
    border: 2px solid #8C383A;
    border-radius: 50px;
    cursor: pointer;
    min-width: 30px;
}
 
button:hover {
    background-color: #FEDD6E;
}

button:active {
    box-shadow: #8C383A 2px 2px 0 0;
    transform: translate(2px, 2px);
}

input {
    font-family: 'Consolas';
    border: 2px solid #8C383A;
    border-radius: 30px;
}
  
input[type=checkbox] {
    position: relative;
    cursor: pointer;
}
  
.complete {
    text-decoration: line-through;
}